* {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
  border-collapse: collapse;
}
html, body {
  height: 100%;
}
.infoViz {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "leaflet leaflet narrative"
    "leaflet leaflet narrative"
    "leaflet leaflet chart";
}
.leaflet-container {
  grid-area: leaflet;
}
.leaflet-pane {
  display: block;
}
.narrative {
  grid-area: narrative;
  padding: 1rem;
}
.narrative h2 {
  margin-bottom: 10px;
}
.chart {
  grid-area: chart;
}
.chart svg {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-spacing: 0;
  border: 1px solid #ededed;
}
table tr:last-child td {
  border-bottom: 0;
}
table th,
table td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  position: relative;
}
table th:last-child,
table td:last-child {
  border-right: 0;
}
table tr:nth-child(even) {
  background-color: #fafafa;
}

table th::before {
  position: absolute;
  right: 15px;
  top: 16px;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
table th.sort-asc::before {
  border-bottom: 5px solid #22543d;
}
table th.sort-desc::before {
  border-top: 5px solid #22543d;
}